extends layout

block body

    script(src="/public/javascripts/teste.js")
    script(src="/public/javascripts/controller.js")
    script.
        var controllerData = new ControllerData();

    block body
        body

            include menuBar.pug

            div(class='mainBlockStock')        
                div(class='result'  )
                    table
                        tr
                            th Nome da Aplicação
                            th Variação Valor
                            th Variação Volume
                            th Valor Atual
                            th Valor Fechamento
                        
                        tr(class='addActionFunct')
                            td(colspan="5" style='text-align:center') 
                                button(type='button' data-toggle='modal' data-target='#exampleModal')
                                    i(class='fas fa-plus') 
                                        span Add Action

                //- Modal design without data
                 
                div(class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true") 
                    div(class="modal-dialog" role="document")
                        div(class="modal-content")
                            div(class="modal-header")
                                h5(class="modal-title" id="exampleModalLabel") Add comporate action
                                button(type="button" class="close" data-dismiss="modal" aria-label="Close" )
                                span(aria-hidden="true") &times;
                            div(class="modal-body" id='modalSearch')
                                div(class="form-group")
                                    input(type="text" name='inputCode' class="form-control" id="recipient-name")
                                button(type="submit" onclick='controllerData.searchInput.call(controllerData)' style='margin-left:390px' class="btn btn-primary" id='searchSub') Search

                                table(class='listActionConsult' id='listSearch')
               
                //- div 
                //-     form(action='/stockExchange/query')
                //-         label Action
                //-         input(type="text" style='margin-left:20px' name='actionGet')
                //-         button(type="submit" style='margin-left:20px' class="btn btn-primary" ) Query Test


block footer

//- layout do spreadsheets
