extends layout

block body

    script(src="/public/javascripts/teste.js")
    script.

        function layoutInfo(json){
            var tr = document.createElement('tr');
            var symbol = document.createElement('td');
            var region = document.createElement('td');

            symbol.appendChild(document.createTextNode(json['1. symbol']));
            region.appendChild(document.createTextNode(json['4. region']));
            tr.appendChild(symbol);
            tr.appendChild(region);

            document.getElementById("listSearch").appendChild(tr);

        }
        

        async function searchInput(){
            var inputCode =  document.getElementById('recipient-name').value;
            if ( inputCode != '' ){
                
                var hr = document.createElement('hr');
                var tr = document.createElement('tr');
                var symbol = document.createElement('th');
                var region = document.createElement('th');

                hr.classList.add('solid');
                symbol.appendChild(document.createTextNode('Symbol'));
                region.appendChild(document.createTextNode('Region'));
                tr.appendChild(symbol);
                tr.appendChild(region);


                document.getElementById("listSearch").appendChild(hr);
                document.getElementById("listSearch").appendChild(tr);
                
                var jsonResult = await $.get('http://localhost:3000/stockExchange/search?inputCode='+inputCode);            
                for (i = 0 ; i < jsonResult['bestMatches'].length; i++ )
                    layoutInfo(jsonResult['bestMatches'][i]);
                    
            }
            else{
                alert('Entre com um nome');
                document.getElementById('recipient-name').focus();
            }
        }

        async function JsonRequest(){
            var dataJson ; 
            console.log('Entreii');

            await $.get("http://localhost:3000/search", function( data ) {
                console.log(data)
            });
        }

    block body
        body()

            include menuBar.pug

            div(class='mainBlockStock')        
                div(class='result'  )
                    table
                        tr
                            th Nome da Aplicação
                            th Variação Valor
                            th Variação Volume
                            th Valor Atual
                            th Valor Fechamento
                        
                        tr(class='addActionFunct')
                            td(colspan="5" style='text-align:center') 
                                button(type='button' data-toggle='modal' data-target='#exampleModal')
                                    i(class='fas fa-plus') 
                                        span Add Action

                //- Modal design 
                 
                div(class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true") 
                    div(class="modal-dialog" role="document")
                        div(class="modal-content")
                            div(class="modal-header")
                                h5(class="modal-title" id="exampleModalLabel") Add comporate action
                                button(type="button" class="close" data-dismiss="modal" aria-label="Close" )
                                span(aria-hidden="true") &times;
                            div(class="modal-body" id='modalSearch')
                                div(class="form-group")
                                    input(type="text" name='inputCode' class="form-control" id="recipient-name")
                                button(type="submit" onclick='searchInput()' style='margin-left:390px' class="btn btn-primary" ) Search

                                table(class='listActionConsult' id='listSearch')
               
                //- div 
                //-     form(action='/stockExchange/query')
                //-         label Action
                //-         input(type="text" style='margin-left:20px' name='actionGet')
                //-         button(type="submit" style='margin-left:20px' class="btn btn-primary" ) Query Test


block footer

//- layout do spreadsheets
