body {
  padding-top: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}


.basic{
  border: 1px black solid;
}

.mnav{
  background-color: #fcba03;
}

.teste{
  text-align: center;
}

.addActionFunct span{
  color: #d3d3d3;
  font-style: italic;
}

#listSearch{
  margin: inherit;
  margin-top:20px;
}

#listSearch tr td:hover{
  background-color: #ffdf87;
}


.addActionFunct button{
  background-color: white;
  border:none;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  display: block;
  width: 100%;
}

ul{
  list-style-type : none;
} 

.mainBlockStock{
  padding-top:40px;
}

.mainBlock{
  padding-top:25px;
}


.imgDiv{
  /* min-width: 500px; */
  background-image: url("/public/images/home/stockImg.jpg");
  min-height: 400px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.87;
}

table {
  margin:20px  ;
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {

  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
}

/* tr:nth-child(even) {
  background-color: #dddddd;
} */

.addActionFunct{
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;

  background-color: white;
  border-color: #d3d3d3;  
  transition: 0.2s;
}

.addActionFunct:hover{
  border-left: 3px solid #d3d3d3;
}

.imgDiv h1{
  font-family: 'Acme';
  color:white;
  font-size:5em;
  padding-left:60px;
  padding-top:40px;
}

.imgDiv h2{

  text-align: center;
  padding-top: 60px;
  color:white;
  transition: 0.4s;

}

button:focus {
  outline: none;
}


i {
  color:#D3D3D3;
  margin-right:10px;
}
